<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BEE.LichLamViec.Properties.Settings.BEEREMA_EPhatConnectionString" connectionString="Data Source=112.213.84.23;Initial Catalog=BEEREMA_EPhat;User ID=ephat_login" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
