<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <connectionStrings>
        <add name="BEE.ThuVien.Properties.Settings.BEEREMA_HOALANDConnectionString"
            connectionString="Data Source=103.28.37.82;Initial Catalog=BEEREMA_HOALAND;Persist Security Info=True;User ID=BEEREMAHOALAND_LOGIN;Password=HOALAND_LOGIN2@16"
            providerName="System.Data.SqlClient" />
        <add name="BEE.ThuVien.Properties.Settings.HOALAND2ConnectionString"
            connectionString="Data Source=192.168.1.3;Initial Catalog=HOALAND2;Persist Security Info=True;User ID=HOALAND_LOGIN;Password=SFDG3414FFFD!#"
            providerName="System.Data.SqlClient" />
        <add name="BEE.ThuVien.Properties.Settings.BEEREMA_HOALANDConnectionString1"
            connectionString="Data Source=202.134.19.144;Initial Catalog=BEEREMA_HOALAND;User ID=BEEREMA_HOALAND_LOGIN;Password=AN8vndcw@gszse"
            providerName="System.Data.SqlClient" />
        <add name="BEE.ThuVien.Properties.Settings.BEEREMA_HOALANDConnectionString2"
            connectionString="Data Source=27.72.103.223;Initial Catalog=BEEREMA_HOALAND;User ID=BEEREMA_HOALAND_login;Password=SDFdfsDVdg#23w"
            providerName="System.Data.SqlClient" />
        <add name="BEE.ThuVien.Properties.Settings.BEEREMA_HOALANDConnectionString3"
            connectionString="Data Source=27.72.103.223;Initial Catalog=BEEREMA_HOALAND;Persist Security Info=True;User ID=BEEREMA_HOALAND_login;Password=SDFdfsDVdg#23w"
            providerName="System.Data.SqlClient" />
        <add name="BEE.ThuVien.Properties.Settings.BEEREMA_HOALANDConnectionString4"
            connectionString="Data Source=192.168.1.10;Initial Catalog=BEEREMA_HOALAND;Persist Security Info=True;User ID=BEEREMA_HOALAND_login;Password=SDFdfsDVdg#23w"
            providerName="System.Data.SqlClient" />
        <add name="BEE.ThuVien.Properties.Settings.HOALAND2ConnectionString1"
            connectionString="Data Source=192.168.1.3;Initial Catalog=HOALAND2;User ID=HOALAND_API_LOGIN"
            providerName="System.Data.SqlClient" />
        <add name="BEE.ThuVien.Properties.Settings.HOALAND2ConnectionString2"
            connectionString="Data Source=192.168.1.3;Initial Catalog=HOALAND2;User ID=HOALAND_API_LOGIN;Password=1234567890@ABC"
            providerName="System.Data.SqlClient" />
        <add name="BEE.ThuVien.Properties.Settings.HOALAND2ConnectionString3"
            connectionString="Data Source=192.168.1.3;Initial Catalog=HOALAND2;Persist Security Info=True;User ID=HOALAND_API_LOGIN;Password=1234567890@ABC"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <BEE.ThuVien.Properties.Settings>
            <setting name="Skins" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="StaffName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="StaffID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Department" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientNo" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientPass" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DepartmentID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GroupID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Conn" serializeAs="String">
                <value />
            </setting>
            <setting name="MailServer" serializeAs="String">
                <value />
            </setting>
            <setting name="YourMail" serializeAs="String">
                <value />
            </setting>
            <setting name="MailPass" serializeAs="String">
                <value />
            </setting>
            <setting name="LangID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </BEE.ThuVien.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
