<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BEE.ThuVien.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BEE.ThuVien.Properties.Settings.BEEREMA_HOALANDConnectionString" connectionString="Data Source=103.28.37.82;Initial Catalog=BEEREMA_HOALAND;Persist Security Info=True;User ID=BEEREMAHOALAND_LOGIN;Password=HOALAND_LOGIN2@16" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <BEE.ThuVien.Properties.Settings>
            <setting name="Skins" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="StaffName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="StaffID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Department" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClientNo" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClientPass" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClientEmail" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClientName" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DepartmentID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GroupID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Conn" serializeAs="String">
                <value/>
            </setting>
            <setting name="MailServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="YourMail" serializeAs="String">
                <value/>
            </setting>
            <setting name="MailPass" serializeAs="String">
                <value/>
            </setting>
            <setting name="LangID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
        </BEE.ThuVien.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
