<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BEE.HoatDong.Properties.Settings.BEEREMA_HOALANDConnectionString" connectionString="Data Source=103.28.37.82;Initial Catalog=BEEREMA_HOALAND;User ID=BEEREMAHOALAND_LOGIN;Password=HOALAND_LOGIN2@16" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://sms.dip.vn/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="SMSService.ServiceSoap" name="ServiceSoap"/>
      <endpoint address="http://sms.dip.vn/service.asmx" binding="customBinding" bindingConfiguration="ServiceSoap12" contract="SMSService.ServiceSoap" name="ServiceSoap12"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
