<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>
    <connectionStrings>
     
    </connectionStrings>
    <userSettings>
        <BEE.ThuVien.Properties.Settings>
            <setting name="Skins" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="StaffName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="StaffID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Department" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClientNo" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClientPass" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClientEmail" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClientName" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DepartmentID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GroupID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Conn" serializeAs="String">
                <value/>
            </setting>
            <setting name="MailServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="YourMail" serializeAs="String">
                <value/>
            </setting>
            <setting name="MailPass" serializeAs="String">
                <value/>
            </setting>
            <setting name="LangID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
        </BEE.ThuVien.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
